  .carrossel-titulo{
  color: var (--branco);
  text-aling: center;
  text-transform: uppercase;
  background-color:(--branco);
  font-size: 18px;
  font-weight: 700;
  padding:1em 0  0.5em 0;
}

.swpier-slide img{
  width: 100%;
}


.suiper-button-prev,
.suiper-button-next {
  display: none;
}

.suiper-pagination {
  position: initial;
  margin: Sem 0;
}

.card {
  background: var (--branco);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}
.card-descricao{
  display: flex;
  juntifly-conter: space-between;
  margin-bottom: 0.5em;
}
  
  


.card-botoes {
  display: flex;
  justify-contet: space-between;
}

.botoes {
  display:flex;
}

.descricao-titulo {
 color: var(--laranja);
  font-weight: 700;
}

.descricao-titulo-livro {
  color: var(--azul);
  font-size: 18px;
  font-weight: 700;
  margen: 0.5em 0;
}

.descricao-titulo {
  font-size: 14px;
}
  

